apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: payment-postgres-pvc
  namespace: payment-service
  labels:
    app: payment-postgres
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 1Gi
